@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

body {
  background-color: #FC9F5B;
  color: #303036; }

h1 {
  font-size: 5em;
  font-family: 'Monofett', cursive; }

.nstSlider {
  width: 80%;
  background: #303036;
  border: 3px solid #303036; }

.leftGrip, .rightGrip {
  background: #00ccff !important;
}

.label {
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  width: 80%; }

.leftLabel, .rightLabel {
  color: #303036;
}